<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Game Store</title>
  </head>
<body>
  <h1><a href="/">Online Game Store Management System</a>    
    </h1>
    <div class="headerContainer">
    <div>
      <ul class="navBar">
        <li class="menu"><a href="/">Home</a></li> 
        <li class="menu"><a href="/games">Games</a></li>    
        <li class="menu"><a href="/genres">Genres</a></li>
        <li class="menu"><a href="/platforms">Platforms</a></li>
        <li class="menu"><a href="/orders">Orders</a></li>
        <li class="menu"><a href="/customers">Customers</a></li>
        <li class="menu"><a href="/wishlist">Wishlists</a></li> 
      </ul>
    </div>
    {{{body}}}
</body>
</html>
