    <br>
    <br>
    <h2>
      Genre Table
    </h2>

<table>
    <thead>
        <th>Genre Id</th>
        <th>Genre Name</th>
    </thead>
    <tbody>
        {{#each Genres}}
        <tr>
            <td>{{genreId}}</td>
            <td>{{genreName}}</td>            
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Insert genre</h3>
<form id='addGenre' action='/genres' method='post'>
    Genre Name: <input type='text' name='genreName'>
    <input type='submit' value='Submit'>
</form>