<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Orders</title>
  <link rel="stylesheet" href="css/styles.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;1,800&display=swap"
    rel="stylesheet">
  <style>
  </style>
</head>
</div>
    <br>
    <br>
    <h2>
      Orders Table
    </h2>
    <div>
<table>
    <thead>
    <th>orderId</th>
    <th>custId</th>
    <th>gameId</th>
  </thead>
    <tbody>
        {{#each Orders}}
        <tr>
            <td>{{orderId}}</td>
            <td>{{custId}}</td>
            <td>{{gameId}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
  <h3>Insert New Order:</h3>
  <form id='addOrder' action='/orders' method='post'>
      custId: <input type='number' name='custId'>
      gameId: <input type='number' name='gameId'>
      <input type='submit' value="Insert New Order">
  </form>
</html>