    <br>
    <br>
    <h2>
      Platform Table
    </h2>
<table>
    <thead>
        <th>Platform Id</th>
        <th>Platform Name</th>
    </thead>
    <tbody>
        {{#each Platforms}}
        <tr>
            <td>{{platformId}}</td>
            <td>{{platformName}}</td>            
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Insert platform</h3>
<form id='addPlatform' action='/platforms' method='post'>
    Platform Name: <input type='text' name='platformName'>
    <input type='submit' value='Submit'>
</form>